@font-face
{
    font-family: "SourceSansProLight";
    src: url("./fonts/SourceSansPro-Light.ttf");
}

@font-face
{
    font-family: "SourceSansPro";
    src: url("./fonts/SourceSansPro-Regular.ttf");
}

@font-face
{
    font-family: "Javatext";
    src: url("./fonts/javatext.ttf");
}

body
{
    margin: 0;
    padding: 0;
    background-color: #232328;
    color: #FFF6F0;
    overflow-x: hidden;
}

a
{
    text-decoration: none;
    color: #f7c8a8;
}

a:active
{
    color: #fca063;
}

h1,h2,h3,h4,h5,h6
{
    font-weight: normal;
}

.strike
{
    text-decoration: line-through;
}

#header
{
    position: fixed;
    z-index: 10000;
    top: 0;
    width: 80vw;
    left: 50%;
    transform: translate(-50%,0);
    margin-top: -40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    justify-content: space-between;
}

#title
{
    font-family: "Javatext", serif;
    font-size: 64px;
    color: #FFAC6D;
    display: inline;
}

#links
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#links li
{
    display: inline;
    padding-right: 48px;
    font-size: 32px;
}

#main
{
    font-family: "SourceSansProLight";
}

#who
{
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
}

@media only screen and (min-width: 1001px)
{
    #who .content
    {
        position: relative;
        top: 36vh;
        width: 54vw;
        margin-left: 32vw;
    }    
}

#who h1
{
    font-family: "SourceSansPro";
    font-size: 80px;
    display: inline;
}

#who p
{
    position: relative;
    left: 10vw;
    font-size: 24px;
}

@media only screen and (max-width: 1000px)
{
    #header
    {
        position: absolute;
        justify-content: center;
        margin-top: -60px;
    }

    #title
    {
        text-align: center;
    }

    #links
    {
        display: none;
    }

    #who
    {
        margin-top: 10px;
        top: 20vh;
        width: 80vw;
        left: 50%;
        transform: translate(-50%,0);
    }

    #who h1
    {
        font-size: 48px;
    }

    #who p
    {
        position: static;
    }
}